
# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @baumac @adamdehaven @ValeryG

# Please open a PR to add yourself to a package you would like to help maintain/contribute to!

/kong-frontend-config.json @baumac @adamdehaven @ValeryG

/github-actions.json @bartsmykla @baumac @slonka @lukidzi

/backend.json @bartsmykla @baumac @slonka @lukidzi

/go.json @bartsmykla @baumac @slonka @lukidzi
